body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 2em;
  background-color:#7AD2F6;
  color: #396C7F;
}

h1 {
  color: #1F99CA;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

input {
  padding: .8em;
  border: 1px solid #396C7F;
  border-radius: 3px;
  opacity: .8;
}
button {
  padding: .8em;
  border: 1px solid #1F99CA;
  border-radius: 3px;
  background-color: #1F99CA;
  color: #fff;
  font-weight: bold;

}
